<table>
  <tr>
    <th>Application</th>
    <th>Average</th>
    <th>IFEval</th>
    <th>BBH</th>
    <th>MATH Lvl 5</th>
    <th>GPQA</th>
    <th>MUSR</th>
    <th>MMLU-PRO</th>
  </tr>
  {% for entry in data %}
  <tr>
    <td>{{ entry.app_name }}</td>
    <td>{{ entry.app_avg }}</td>
    <td>{{ entry.app_ifeval }}</td>
    <td>{{ entry.app_bbh }}</td>
    <td>{{ entry.app_mathlvl5 }}</td>
    <td>{{ entry.app_gpqa }}</td>
    <td>{{ entry.app_musr }}</td>
    <td>{{ entry.app_mmlupro }}</td>
  </tr>
  {% endfor %}
</table>
