<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="{{ url_for('index') }}" class="logo-link">
          <img
            src="{{ url_for('static', filename='assets/logo.webp') }}"
            alt="Logo"
          />
          <span>Distributed Computing</span>
        </a>
      </div>
      <nav>
        {% if current_user.is_authenticated %}
        <!-- Navbar for logged-in users -->
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('downloads') }}">Downloads</a>
        <a href="{{ url_for('leaderboard') }}">Leaderboard</a>
        <a href="{{ url_for('logout') }}" class="login-button">Logout</a>
        {% else %}
        <!-- Navbar for non-logged-in users -->
        <a href="{{ url_for('downloads') }}">Downloads</a>
        <a href="{{ url_for('leaderboard') }}">Leaderboard</a>
        <a href="{{ url_for('login') }}" class="login-button">Login/Register</a>
        {% endif %}
      </nav>
    </header>

    <div class="content">
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %}
      <ul class="flashes">
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %} {% block content %}{% endblock %}
    </div>
  </body>
</html>
