{% extends 'base.html' %} {% block title %}Download Clients{% endblock %} {%
block content %}
<div class="content">
  <h2>Download Clients</h2>

  <div class="download-container">
    <!-- Master Client Section -->
    <div class="download-client">
      <h3>Master Client</h3>
      <p>Download options for the master client:</p>
      <div class="button-group">
        <a
          href="https://hello-wld-bucket.s3.ap-southeast-1.amazonaws.com/sit-distibuted-master.tar"
          class="download-link"
          download
        >
          <i class="fas fa-download"></i> Download Master Image
        </a>
        <a
          href="https://hello-wld-bucket.s3.ap-southeast-1.amazonaws.com/Master.zip"
          class="download-link"
          download
        >
          <i class="fas fa-download"></i> Download Master Dockerfile
        </a>
      </div>
    </div>

    <!-- Slave Client Section -->
    <div class="download-client">
      <h3>Slave Client</h3>
      <p>Download options for the slave client:</p>
      <div class="button-group">
        <a
          href="https://hello-wld-bucket.s3.ap-southeast-1.amazonaws.com/sit-distributed-slave.tar"
          class="download-link"
          download
        >
          <i class="fas fa-download"></i> Download Slave Image
        </a>
        <a
          href="https://hello-wld-bucket.s3.ap-southeast-1.amazonaws.com/Slave.zip"
          class="download-link"
          download
        >
          <i class="fas fa-download"></i> Download Slave Dockerfile
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
