<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Register</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    {% include 'components/nav.html' %}

    <div class="content">
      <h2>Register</h2>
      <form>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required />

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />

        <label for="confirm-password">Confirm Password:</label>
        <input
          type="password"
          id="confirm-password"
          name="confirm-password"
          required
        />

        <button type="submit">Register</button>
      </form>
      <p>
        Already have an account? <a href="{{ url_for('login') }}">Login here</a>
      </p>
    </div>
  </body>
</html>
